

.BikePath-header {
  font-size: 18px;
  color: #202022;
  background-color: #c2c2d2;
  border: 2px solid grey;
}

.BikePath-element {
  color: #3d3d3d;
  font-size: 13px;
  background-color: #d2d2e2;
  border: 1px solid #c2c2d2;
}

.BikePath-table {
  min-width: 1000px;
  max-width: 99.6vw;
  background-color: #d2d2e2;
}
